@model AlumniManagement.Frontend.Models.AspNetUserModel.UserModel


<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label">@Html.LabelFor(model => model.IsSuperAdmin)</label>
                            <div class="col-md-10">
                                <div class="form-check form-switch">
                                    @Html.CheckBox("IsSuperAdmin", Model.IsSuperAdmin, new { @class = "form-check-input", id = "isSuperAdminSwitch" })
                                    <label class="form-check-label" for="isSuperAdminSwitch">
                                        <span id="isSuperAdminLabel">@(Model.IsSuperAdmin ? "Yes" : "No")</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-danger px-4 py-2 me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary px-4 py-2">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>