@model AlumniManagement.Frontend.Models.PhotoModel

<div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add Photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddPhoto", "PhotoAlbum", FormMethod.Post, new { id = "createForm", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("isFromPhoto", (bool)ViewBag.IsFromPhoto)
                    @Html.Hidden("checkRedirect", (int)ViewBag.AlbumId )

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @{
                            var isDisabled = ViewBag.DisableDropdown != null && (bool)ViewBag.DisableDropdown ? "disabled" : "";
                        }
                        <!-- Select Album -->
                        <div class="form-group row align-items-center">
                            <label class="col-md-2 control-label">@Html.LabelFor(model => model.AlbumID)</label>
                            <div class="col-md-10">
                                @if (ViewBag.DisableDropdown == false)
                                {
                                    @Html.DropDownListFor(model => model.AlbumID, (SelectList)ViewBag.PhotoAlbum, "Select Album",
                                    new { @class = "form-control", @id = "AlbumDropdown" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.AlbumID, (SelectList)ViewBag.PhotoAlbum, "Select Album",
                                    new { @class = "form-control", @id = "AlbumDropdown", @disabled = "disabled" })
                                }
                                @Html.HiddenFor(model => model.AlbumID)
                                @Html.ValidationMessageFor(model => model.AlbumID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Upload Photo -->
                        <div class="form-group row align-items-center mt-2">
                            <label class="col-md-2 control-label">@Html.LabelFor(model => model.PhotoPath)</label>
                            <div class="col-md-10">
                                <input type="file" id="photoUpload" name="photoUpload" class="form-control" accept=".jpeg,.jpg,.png" />
                                <small class="text-muted">Only .jpeg, .jpg, .png files allowed. Max size: 3MB.</small>
                                @Html.ValidationMessageFor(model => model.PhotoPath, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Photo Preview -->
                        <div class="form-group row mt-2">
                            <div class="col-md-12 text-center">
                                <img id="photoPreview" src="#" alt="Photo Preview" class="img-thumbnail d-none" style="max-width: 100px; max-height: 100px;" />
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-danger px-4 py-2 me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary px-4 py-2">Upload</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
