@model AlumniManagement.Frontend.Models.PhotoAlbumModel

<div id="createModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create Album</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateAlbum", "PhotoAlbum", FormMethod.Post, new { id = "createForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <!-- Album Name -->
                        <div class="form-group row align-items-center">
                            <label class="col-md-2 control-label">@Html.LabelFor(model => model.AlbumName)</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AlbumName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AlbumName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-danger px-4 py-2 me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary px-4 py-2">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
